.mat-table {
    width: 100%;

    .mat-header-cell {
        color: rgb(33, 43, 53);
        font-weight: 700;
        font-size: 1em;
        padding: 8px;
        background-color: #EEEEEE;

        &:first-of-type {
            padding: 8px 24px;
        }
    }

    .mat-column-flex-2 {
        flex: 2;
    }

    .mat-cell {
        padding: 8px;
        line-height: 1.5em;

        &:first-of-type {
            padding: 8px 24px;
        }
    }
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered-text {
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  text-align: center;      /* centers text itself */  
  font-family: "Times New Roman", serif;  
  font-size: 16px;
  font-weight: bold;
  font-style: italic;    
}