name: Build Angular 21 App with SSR

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      # 1. Checkout the repository
      - uses: actions/checkout@v4

      # 2. Setup Node.js
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      # 3. Install NPM packages
      - name: Install dependencies
        run: npm ci

      # 4. Build Angular Browser App
      - name: Build Angular Browser App
        run: npm run build

      # 5. Build Angular Server App (SSR)
      - name: Build Angular Server App
        run: npx ng run assecor.gui:server